<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<head>
    <style>
        tbody {font-size: medium;}
    </style>
</head>
<body>
<div class="container">
    <div th:replace="fragments/c_bodyHeader :: bodyHeader"/>
    <div class="jumbotron">

        <p class="lead mt-3">오늘의 해외 경제 지표</p>
        <table class="table table-striped mb-5">
            <thead>
            <tr>
                <th>이름</th>
                <th>지수</th>
                <th>변동성</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="economic : ${economics}">
                <td th:text="${economic.type}"></td>
                <td th:text="${economic.eIndex}"></td>
                <td th:text="${economic.changeIndex} + ' / ' + ${economic.changeRate}+'%'"></td>
            </tr>
            </tbody>
        </table>

        <hr class="m-1"/>

        <p class="lead mt-3">오늘의 헤드라인 뉴스</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-1">카테고리</th>
                <th class="col-5">내용</th>
                <th class="col-1">링크</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.type}"></td>
                <td th:text="${article.newsContent}"></td>
                <td>
                    <a th:href="@{${article.newsLink}}">링크</a>
                </td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-outline-dark btn-lg mt-md-2" href="/">닷뉴스 구독하러가기</a>

    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>