<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>카테고리</th>
                <th>내용</th>
                <th>링크</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aritcle : ${articles}">
                <td th:text="${article.id}"></td>
                <td th:text="${article.newsContent}"></td>
                <td th:text="${member.newsLink}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>