<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="header" th:fragment="bodyHeader">
        <nav class="navbar navbar-expand-lg navbar-light"
        style="justify-content: space-between !important; flex-wrap: wrap !important;">
                <a class="navbar-brand pt-pd-3" href="/"
                   style="display: flex">
                    <img src="img/logo.png"
                         style="margin-right: 0.5rem; width:2.2rem; height: 2.2rem">
                    <h1 class="text mt-2">LOOBIE</h1>
                </a>

            <div th:if="${userName == null}">
                <a class="btn btn-lg btn-primary" href="/oauth2/authorization/kakao">Kakao Login</a>
            </div>

            <div  style="display: flex" th:if="${userName != null}">
                <div style="margin: 1rem">
                    <p th:text=" ${userName}+'님'"></p>
                </div>
                <div >
                    <a class="btn btn-lg btn-primary" href="/logout">logout</a>
                </div>
            </div>
        </nav>
    </div>