<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>닷 뉴스</title>
</head>
<body>
    <div style="width:100%; padding:40px 0;  margin: 0 auto;">
        <p>안녕하세요. <span th:text="${name}"></span>님</p>
        <h2 th:text="${message}">메시지</h2>
        <a th:href="${host+ link}" th:text="${linkName}">Link</a>
        <div style="padding: 14px 0">
            <p>링크가 동작하지 않는 경우에는 아래 URL을 웹브라우저에 복사해서 붙여주세요.</p>
            <small th:text="${host + link}"></small>
        </div>
        <p>&copy; DOT NEWS ALPHA 2021</p>
    </div>
</body>
</html>